


<% if @conversation.sender_id == current_user.id %>
  <% chat_partner = User.find(@conversation.recipient_id) %>
<% else %>
  <% chat_partner = User.find(@conversation.sender_id) %>
<% end %>

<h1>Chat with <%= chat_partner.username %></h1>


<% @messages.each do |message| %>
  <div>
    <div>
      <%= User.find(message.user_id).username %>
    <div>
    <div>
      <%= message.body %>
    </div>
  </div>
<% end %>

<div>
  <%= simple_form_for [@conversation, @message] do |f| %>
    <%= f.input :body, label: 'new message' %>
    <%= f.button :submit %>
  <% end %>
</div>


<!-- , :url => savenew_photographers_path, :method => :post -->
