

<h1><strong>Going to @ <%= @booking.activity.name %></strong></h1>
<p><%= @booking.activity.description %></p>
<h5>When: </h5><p><%= @booking.activity.datetime %></p>
<h5>Where: </h5><p><%= @booking.activity.address %></p>
<p><%= @booking.activity.capacity %> spaces left</p>

<div class="links">
<%= link_to 'Cancel', booking_path(@booking), class:"btn btn-ghost", method: :delete, data: { confirm: "Are you sure you want to cancel?" } %>
<%#= link_to "go to my dashboard", dashboard_path, class:"btn btn-ghost" %>
</div>



