
<h1> <%= @user.username %> </h1>
<% if @user.photo.attached? %>

    <%= cl_image_tag @user.photo.key, class: "avatar-border", height: 300, width: 300, crop: :fit %>
<% else %>
    <%= cl_image_tag("img_264570_wuw5yx", class: "avatar-border", height: 300, width: 300, crop: :fit) %>
<% end %>
<br>
<% if @user = current_user %>
  <p>Email: <%= @user.email %></p>
  <p>Birthday: <%= @user.birthday %></p>
<% end %>

<p>Bio: <%= @user.bio %></p>
<p>Interests: <%= @user.interest %></p>
<br>
<% if @user = current_user %>
<p><%= link_to "Edit", edit_user_registration_path, class: "btn btn-green" %></p>
<% end %>

<h3> <%= @user.username %>'s  past event reviews : </h3>

<% @user.activities.each do |activity| %>

    <% if activity.reviews.present? %>
    <ul>
      <% activity.reviews.each do |review| %>
      <li>
        <p>
         Rating: <%= review.activity_rating %> </p>
         <p>  Review: <%= review.content %> </p>
       </li>
  </ul>
   <% end %>
   <% end %>
   <% end %>
