
<% if @user.photo.attached? %>
<%= cl_image_tag @user.photo.key, class: "avatar-border", width: 300, height: 300, crop: :fill, gravity: :face %>
    <%#= cl_image_tag @user.photo.key, class: "avatar-border", height: 300, width: 300, crop: :fill %>
<% end %>
<h1> <%= @user.username %> </h1>
<p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
<!-- <p>Email: <%= @user.email %></p> -->
<p>Birthday: <%= @user.birthday %></p>
<p>Bio: <%= @user.bio %></p>
<p>Interests: <%= @user.interest %></p>
<br>
<p><%= link_to "Edit", edit_user_registration_path, class: "btn btn-green" %></p>


<h3> <%= @user.username %>'s  past event reviews : </h3>

<% @user.activities.each do |activity| %>



    <% if activity.reviews.present?  %>
    <ul>
      <% activity.reviews.each do |review| %>
      <li>
        <p>
         Rating: <%= review.activity_rating %> </p>
         <p>  Review: <%= review.content %> </p>
       </li>

  </ul>
   <% end %>
          <% else %>
       <p> <%=@user.username%> has no event reviews yet. </p>
   <% end %>
   <% end %>
