<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

        <div class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </div>
        <div class="nav-item">
          <%= link_to "Activities", activities_path, class: "nav-link" %>
        </div>
        <div class="nav-item">

          <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
        </div>
        <div class="nav-item">
          <%= link_to "Create Activity", new_activity_path, class: "nav-link" %>
        </div>

      <% if user_signed_in? %>
        <div class="nav-item">
          <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
        </div>
        <div class="nav-item">
          <%= link_to "Messages", conversations_path, class: "nav-link" %>
        </div>
        <div class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </div>
      <% else %>
        <div class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </div>

      <% end %>
</div>


