<div class="dashboard-container">

  <h2>Your <%= pluralize @sorted_hosting.count, "activity"%>: </h2>
    <% if @sorted_hosting.count == 0 %>
      <p> <%= link_to "Find awesome activities", root_path, class: "btn-outline btn-dashboard" %> </p>
    <% else %>
      <% @sorted_hosting.each do |activity| %>

        <div class="card-dashboard">
          <!-- Checking if cloudinary image attached -->
          <% if activity.photos.attached? %>
            <%= cl_image_tag activity.photos.first.key, height: 250, crop: :fill, :id => "img_booking" %>
          <% else %>
            <%= cl_image_tag("cqmszae8rere14lnciwy", width: 150, height: 150, crop: :thumb, gravity: :face) %>
          <% end %>

          <div class="info-dashboard">
            <h3><%= link_to activity.name, activity_path(activity) %></h3>
            <!-- List activity information -->
            <p> <i class="far fa-clock"></i>  <%=activity.datetime.strftime("%b %eth %Y, %k:%M") %> </p>
            <p> <i class="fas fa-map-marker-alt"></i> <%= activity.address %></p>
            <p> <i class="fas fa-users"></i> Attending </p>
          </div>

        <div class="avatars-dashboard">
              <!-- Participants -->
              <div class="participants-section">
                <!-- Listing all participating users and host -->
                <% bookings = Booking.where("activity_id = #{activity.id}") %>
                <div class="participants">
                  <% bookings.each do |booking| %>
                     <% user = User.find(booking.user_id) %>
                    <% if user.photo.attached? %>
                      <div class="avartar-set">
                        <div class="avartar-name">
                          <%= link_to cl_image_tag(user.photo.key, class: "avatar"), user_path(user.id) %>
                          <p><%= link_to user.username, user_path(user.id) %> </p>
                        </div>
                      </div>
                    <% else %>
                      <div class="avartar-set">
                        <div class="avartar-name">
                          <%= link_to user.username, user_path(user.id) %>
                          <%= link_to cl_image_tag("img_264570_wuw5yx", class: "avatar"), user_path(user.id) %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

          <!--  Delete links for cards -->


        </div>
      <% end %>
    <% end %>
</div>
