<h2>You currently host <%= pluralize @sorted_hosting.count, "activity"%> upcoming: </h2>
  <div class="cards cards-dashboard">
    <% if @sorted_hosting.count == 0 %>
      <p> <%= link_to "Find awesome activities", root_path, class: "btn-ghost btn-dashboard" %> </p>
    <% else %>
      <% @sorted_hosting.each do |activity| %>
          <div class="card-product dashboard-card">
            <% if activity.photos.attached? %>
              <%= cl_image_tag activity.photos.first.key, height: 300, width: 400, crop: :fill, :id => "img_booking" %>
            <% else %>
              <%= cl_image_tag("cqmszae8rere14lnciwy", width: 150, height: 150, crop: :thumb, gravity: :face) %>
            <% end %>
            <div class="card-product-infos">
              <h2 class="dashboard_h2"><%= link_to activity.name, activity_path(activity) %></h2>
              <p class="dashboard-p"> Date: <%=activity.datetime %> </p>
              <p class="dashboard-p"> Address: <%= activity.address %></p>

              <!-- Listing all participating users and host -->
              <% bookings = Booking.where("activity_id = #{activity.id}") %>
              <ul>
                <% bookings.each do |booking| %>
                  <li>
                    <% user = User.find(booking.user_id) %>
                    <%= link_to user.username, user_path(user.id) %>
                  </li>
                <% end %>
                  <li>
                    <% user = User.find(activity.user_id) %>
                    <%= link_to user.username, user_path(user.id) %> Host
                  </li>
              </ul>

              <% if activity.user == current_user  %>
                <%= link_to "ðŸ—‘", activity_path(activity), class: "btn btn-orange", method: :delete, data: { confirm: "Are you sure you want to delete this activity??" }%>
                <%= link_to "âœï¸", edit_activity_path(activity), class: "btn btn-green" %>

              <% else %>
                <%= link_to "ðŸ—‘", booking_path(Booking.find_by(activity_id: activity.id)), method: :delete, data: { confirm: "Are you sure you want to cancel this booking??" }%>
              <% end %>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
