<div class="container">
  <h2>You participated in <%= pluralize @sorted_past.count, "activity"%>: </h2>
    <% if @sorted_past.count == 0 %>
      <p> <%= link_to "Find awesome activities", root_path, class: "btn-outline btn-dashboard" %> </p>
    <% else %>
      <% @sorted_past.each do |activity| %>
        <div>
          <!-- Checking if cloudinary image attached -->
          <% if activity.photos.attached? %>
            <%= cl_image_tag activity.photos.first.key, height: 300, width: 400, crop: :fill, :id => "img_booking" %>
          <% else %>
            <%= cl_image_tag("cqmszae8rere14lnciwy", width: 150, height: 150, crop: :thumb, gravity: :face) %>
          <% end %>
          <!-- Add Tag for My event! -->
          <% if activity.user == current_user  %>
            <h2>Own event:<%= link_to activity.name, activity_path(activity) %></h2>
          <%else %>
            <h2><%= link_to activity.name, activity_path(activity) %></h2>
          <% end %>

          <!-- List activity information -->
          <p> Date: <%=activity.datetime.strftime("%b %eth %Y, %k:%M") %> </p>
          <p> Attending users: </p>

          <!-- Listing all participating users and host -->
          <% bookings = Booking.where("activity_id = #{activity.id}") %>
          <div class="participants">
            <% bookings.each do |booking| %>
              <% user = User.find(booking.user_id) %>
              <% if user.photo.attached? %>
                <div class="avartar-set">
                  <div class="avartar-name">
                    <%= link_to cl_image_tag(user.photo.key, class: "avatar"), user_path(user.id) %>
                    <%= link_to user.username, user_path(user.id) %>
                  </div>
                </div>
              <% else %>
                <div class="avartar-set">
                  <div class="avartar-name">
                    <%= link_to user.username, user_path(user.id) %>
                    <%= link_to cl_image_tag("img_264570_wuw5yx", class: "avatar"), user_path(user.id) %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

          <!-- Listing host -->
          Hosted by:
          <div class="participants">
            <% if current_user.photo.attached? %>
              <div class="avartar-set">
                <div class="avartar-name">
                  <%= link_to cl_image_tag(User.find(activity.user_id).photo.key, class: "avatar"), user_path(current_user) %>
                  <%= link_to User.find(activity.user_id).username, user_path(current_user) %>
                </div>
              </div>
            <% else %>
              <div class="avartar-set">
                <div class="avartar-name">
                  <%= link_to cl_image_tag("img_264570_wuw5yx", class: "avatar"), user_path(current_user) %>
                  <%= link_to User.find(activity.user_id).username, user_path(current_user) %>
                </div>
              </div>
            <% end %>
          </div>

          <!-- Add link for writing review -->
          <% unless activity.bookings.empty? %>
            <% if activity.user_id == current_user.id  %>
            <% else %>
              <%= link_to 'Add Review', new_booking_review_path(activity.bookings.where(user: current_user).first), class:"btn btn-green" %>
            <% end %>
          <% end %>

          <!-- Listing reviews: -->
        <p class="title">Reviews:</p>
          <% if activity.reviews.empty?  %>
            <p> This activity has not been reviewed yet </p>
          <% else %>
            <%= 'â­ï¸' * (activity.reviews.sum(:activity_rating) / activity.reviews.count) %>
          <% end %>

        </div>
      <% end %>
    <% end %>
</div>

 <%#= if activity.booking.user_id == current_user.id %>
              <%#= link_to "âœï¸", edit_review_path(review), class: "btn btn-green" %>
              <%#= link_to "ðŸ—‘", review_path(review), class: "btn btn-orange",  method: :delete, data: { confirm: "Are you sure you want to delete this review?" }  %>
            <%# #end %>
