<div class="dashboard-container">
  <h2>You participated in <%= pluralize @sorted_past.count, "activity"%>: </h2>
    <% if @sorted_past.count == 0 %>
      <p> <%= link_to "Find events", activities_path, class: "btn btn-outline" %> </p>
    <% else %>
      <% @sorted_past.each do |activity| %>

        <div class="card-dashboard">
          <!-- Checking if cloudinary image attached -->
          <div class="img-container">
              <% if activity.photos.attached? %>
                <%= cl_image_tag activity.photos.first.key, height: 250, crop: :fill, :id => "img_booking" %>
              <% else %>
                <%= cl_image_tag("cqmszae8rere14lnciwy", width: 150, height: 150, crop: :thumb, gravity: :face) %>
              <% end %>
              <% if activity.user == current_user  %>
                <div class="text-block">
                  <h6>Own event</h6>
                </div>
              <% end %>
          </div>

          <div class="info-dashboard">
          <!-- Add Tag for My event! -->
            <h3><%= link_to activity.name, activity_path(activity) %></h3>
            <!-- List activity information -->
              <div class="review-container">
                <% if activity.reviews.empty? %>
                <p> <i class="far fa-star"></i> Reviews</p>
                <% else %>
                <p> <i class="fas fa-star"></i>  Reviews</p>
                <%= 'â­ï¸' * (activity.reviews.sum(:activity_rating) / activity.reviews.count) %>
                <% end %>
              </div>
            <p> <i class="far fa-clock"></i> <%=activity.datetime.strftime("%b %eth %Y, %k:%M") %> </p>
          </div>

          <div class="avatars-dashboard">
              <!-- Listing host -->
              <div class="host-section">
                <p> <i class="fas fa-user"></i> Host </p>
                <div class="participants">
                  <% if current_user.photo.attached? %>
                    <div class="avartar-set">
                      <div class="avartar-name">
                       <%= link_to cl_image_tag(User.find(activity.user_id).photo.key, class: "avatar"), user_path(current_user) %>
                       <p> <%= link_to User.find(activity.user_id).username, user_path(current_user) %> </p>
                      </div>
                    </div>
                  <% else %>
                    <div class="avartar-set">
                      <div class="avartar-name">
                        <%= link_to cl_image_tag("img_264570_wuw5yx", class: "avatar"), user_path(current_user) %>
                        <%= link_to User.find(activity.user_id).username, user_path(current_user) %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>

              <!-- Participants -->
              <div class="participants-section">
                <p> <i class="fas fa-users"></i> Attending </p>
                <!-- Listing all participating users and host -->
                <% bookings = Booking.where("activity_id = #{activity.id}") %>
                <div class="participants">
                  <% bookings.each do |booking| %>
                     <% user = User.find(booking.user_id) %>
                    <% if user.photo.attached? %>
                      <div class="avartar-set">
                        <div class="avartar-name">
                          <%= link_to cl_image_tag(user.photo.key, class: "avatar"), user_path(user.id) %>
                          <p><%= link_to user.username, user_path(user.id) %> </p>
                        </div>
                      </div>
                    <% else %>
                      <div class="avartar-set">
                        <div class="avartar-name">
                          <%= link_to user.username, user_path(user.id) %>
                          <%= link_to cl_image_tag("img_264570_wuw5yx", class: "avatar"), user_path(user.id) %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

            <!-- review button -->
            <div class="review-button">
              <% unless activity.bookings.empty? %>
                <% if activity.user_id == current_user.id  %>
                <% else %>
                  <%= link_to 'Add Review', new_booking_review_path(activity.bookings.where(user: current_user).first), class:"btn btn-outline" %>
                <% end %>
              <% end %>
            </div>

        </div>
      <% end %>
    <% end %>
    <br>
</div>

 <%#= if activity.booking.user_id == current_user.id %>
              <%#= link_to "âœï¸", edit_review_path(review), class: "btn btn-green" %>
              <%#= link_to "ðŸ—‘", review_path(review), class: "btn btn-orange",  method: :delete, data: { confirm: "Are you sure you want to delete this review?" }  %>
            <%# #end %>
