<h2>You participated in <%= pluralize @sorted_past.count, "activity"%>: </h2>


<div class="cards cards-dashboard">
  <% if @sorted_past.count == 0 %>
  <p> <%= link_to "Find awesome activities", root_path, class: "btn-outline btn-dashboard" %> </p>
  <% else %>
  <% @sorted_past.each do |activity| %>
  <div class="card-product dashboard-card">
    <% if activity.user == current_user  %>
    <h1> My event: </h1>
    <% end %>
    <% if activity.photos.attached? %>
    <%= cl_image_tag activity.photos.first.key, class: "w-100", crop: :fill, :id => "img_booking" %>
    <% else %>
    <%= cl_image_tag("cqmszae8rere14lnciwy", width: 50, height: 50, crop: :thumb, gravity: :face) %>

    <% end %>
    <div class="card-product-infos">

      <h2 class="dashboard_h2"><%= link_to activity.name, activity_path(activity) %></h2>

      <p class="dashboard-p"> Date: <%= activity.datetime.strftime("%b %eth %Y, %k:%M") %> </p>
      <p class="dashboard-p"> Address: <%= activity.address %></p>
        <% unless activity.bookings.empty? %>
          <% if activity.user_id == current_user.id  %>
          <% else %>
          <%= link_to 'Add Review', new_booking_review_path(activity.bookings.where(user: current_user).first), class:"btn btn-ghost" %>
          <% end %>
         <% end %>

      <p class="dashboard-p"> Users who also attended: </p>

      <!-- Listing all participating users and host -->
           <% bookings = Booking.where("activity_id = #{activity.id}") %>
      <div class="participants">
        <% bookings.each do |booking| %>
        <% user = User.find(booking.user_id) %>
        <% if user.photo.attached? %>
        <div class="avartar-set">
          <div class="avartar-name">
            <%= link_to cl_image_tag(user.photo.key, class: "avatar"), user_path(user.id) %>
            <%= link_to user.username, user_path(user.id) %>
          </div>
        </div>
        <% else %>
        <div class="avartar-set">
          <%= link_to user.username, user_path(user.id) %>
          <%= link_to cl_image_tag("img_264570_wuw5yx", class: "avatar"), user_path(user.id) %>
        </div>
        <% end %>

        <% end %>
      </div>
      Hosted by:
      <div class="participants">
        <% if current_user.photo.attached? %>
        <%= link_to cl_image_tag(current_user.photo, class: "avatar"), user_path(current_user) %>
        <% else %>
        <div class="avartar-set">
          <%= link_to current_user.username, user_path(current_user) %>
          <%= link_to cl_image_tag("img_264570_wuw5yx", class: "avatar"), user_path(current_user) %>
          <% end %>
        </div>
      </div>


      <% unless activity.bookings.empty? %>
          <% if activity.user_id == current_user.id  %>
          <% else %>
          <%= link_to 'Add Review', new_booking_review_path(activity.bookings.where(user: current_user).first), class:"btn btn-green" %>
          <% end %>
         <% end %>


      <h3> Reviews: </h3>
      <% if activity.reviews.empty?  %>

      <p> This activity has not been reviewed yet </p>
      <% else %>

      <ul>
        <% activity.reviews.each do |review| %>
        <li>
          <p>
           Review from <%= User.find(review.booking.user_id).username %> :
           <p> Rating: <%= review.activity_rating %> </p>
           <p>  Review description: <%= review.content %> </p>

         </li>

        <% if review.booking.user_id == current_user.id  %>
         <%= link_to "âœï¸", edit_review_path(review), class: "btn btn-green" %>
         <%= link_to "ðŸ—‘", review_path(review), class: "btn btn-orange",  method: :delete, data: { confirm: "Are you sure you want to delete this review?" }  %>
         <% end %>

         <% end %>
         <% end %>

       </ul>
     </div>
   </div>
   <% end %>
   <% end %>
 </div>
