<div class="container">
  <h2>You currently have <%= pluralize @sorted_upcoming.count, "activity"%> booked: </h2>
    <% if @sorted_upcoming.count == 0 %>
      <p> <%= link_to "Find awesome activities", root_path, class: "btn-outline btn-dashboard" %> </p>
    <% else %>
      <% @sorted_upcoming.each do |activity| %>
        <div class="card-dashboard">
          <!-- Checking if cloudinary image attached -->
          <% if activity.photos.attached? %>
            <%= cl_image_tag activity.photos.first.key, height: 300, width: 400, crop: :fill, :id => "img_booking" %>
          <% else %>
            <%= cl_image_tag("cqmszae8rere14lnciwy", width: 150, height: 150, crop: :thumb, gravity: :face) %>
          <% end %>


          <!-- Add Tag for My event! -->
          <% if activity.user == current_user  %>
            <h3><%= link_to activity.name, activity_path(activity) %></h3>
          <%else %>
            <h3><%= link_to activity.name, activity_path(activity) %></h3>
          <% end %>
          <div class="dashboard-card-info">
          <!-- List activity information -->
            <div>
              <p><strong>Date: </strong></p>
              <p><strong>Address:</strong></p>
            </div>
            <div>
              <p> <%= activity.datetime.strftime("%b %eth %Y, %k:%M") %> </p>
              <p> <%= activity.address %></p>
            </div>
          </div>
          <div class="avatars-dashboard">
            <div>
                <!-- Listing all participating users and host -->
              <% bookings = Booking.where("activity_id = #{activity.id}") %>
              <div class="participants">
                <% bookings.each do |booking| %>
                   <% user = User.find(booking.user_id) %>
                  <% if user.photo.attached? %>
                    <div class="avartar-set">
                      <div class="avartar-name">
                        <%= link_to cl_image_tag(user.photo.key, class: "avatar"), user_path(user.id) %>
                        <%= link_to user.username, user_path(user.id) %>
                      </div>
                    </div>
                  <% else %>
                    <div class="avartar-set">
                      <div class="avartar-name">
                        <%= link_to user.username, user_path(user.id) %>
                        <%= link_to cl_image_tag("img_264570_wuw5yx", class: "avatar"), user_path(user.id) %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>

            <!-- Listing host -->
            <div>
              <p> Hosted by: </p>
              <div class="participants">
                <% if current_user.photo.attached? %>
                  <div class="avartar-set">
                    <div class="avartar-name">
                      <%= link_to cl_image_tag(User.find(activity.user_id).photo.key, class: "avatar"), user_path(current_user) %>
                      <%= link_to User.find(activity.user_id).username, user_path(current_user) %>
                    </div>
                  </div>
                <% else %>
                  <div class="avartar-set">
                    <div class="avartar-name">
                      <%= link_to cl_image_tag("img_264570_wuw5yx", class: "avatar"), user_path(current_user) %>
                      <%= link_to User.find(activity.user_id).username, user_path(current_user) %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <!--  Delete links for cards -->
          <% unless activity.user == current_user  %>
            <%= link_to "Can't attend #{activity.name}", booking_path(Booking.find_by(activity_id: activity.id)), method: :delete, data: { confirm: "Are you sure you want to cancel this booking??" }%>
          <% end %>
        </div>
      <% end %>
    <% end %>
</div>
