<%= cl_image_tag("kropqnh5s4okwosfaest",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("cqmszae8rere14lnciwy",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
<br>

<br>

<%= simple_form_for :search, url: activities_path, method: "get" do |f| %>
  <input class="address form-control" type="text" name="address" id="friend_places" placeholder="Please type in your Address" />
  <button name="button" type="submit" class="btn btn-white">Submittt</button>
<% end %>
<br>
<%= link_to "create a new activity", new_activity_path %>
<br>
<%= link_to "see all activities", activities_path %>
