<div>

  <% @activities.each do |activity| %>
      <br>
      <h1><strong><%= link_to activity.name, activity_path(activity) %></strong></h1>

      <br>
      <% activity.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fit %>
      <% end %>
      <br>

      When: <%= activity.datetime.strftime("%b %eth %Y, %k:%M") %>
      <br>
      <%= activity.address %>
      <br>
      Capacity: <%= activity.capacity %>
      <br>
      <%= activity.bookings.count %> are going
      <br>
  <% end %>
  <br>

</div>
<br>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>


