
<div class="container">

<%= form_tag activities_path, method: :get do %>
    <%= text_field_tag :address, params[:address], class: "form-control", id: "friend_places", placeholder: "Search for a specific address within a 5km radius" %>
    <%= text_field_tag :activity, params[:activity], class: "form-control", placeholder: "Search for a specific activity"%>
    <%# @category = ["sports", "food", "nightlife", "culture", "nature", "wellness", "networking", "learning"]%>
    <%= select_tag(:category, options_for_select(["food", "nightlife", "culture", "nature", "wellness", "networking", "learning"])) %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<div>

  <% @activities.each do |activity| %>
      <br>
      <h1><strong><%= link_to activity.name, activity_path(activity) %></strong></h1>

      <br>
      <% activity.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fit %>
      <% end %>
      <br>

      When: <%= activity.datetime.strftime("%b %eth %Y, %k:%M") %>
      <br>
      <%= activity.address %>
      <br>
      Capacity: <%= activity.capacity %>
       <br>
      Capacity: <%= activity.category %>
      <br>
      <%= activity.bookings.count %> are going
      <br>
  <% end %>
  <br>

</div>
<br>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<br>
<br>
<br>
<br>
<br>
<br>
</div>

<br>
<br>


