
<div class="container">
<%= simple_form_for :search, url: activities_path, method: "get" do |f| %>
  <input class="address form-control" type="text" name="address" id="friend_places" placeholder="Please type in your Address" />
  <p>  <%= f.submit "Search in a different Location", class: "btn btn-primary" %> within 5 kms </p>
<% end %>

  <p> <%= form_tag activities_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
      placeholder: "Search for a specific activity"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <%end%>

      <% @category = ["sports" "food&drinks" "nightlife" "culture" "nature" "wellness" "networking" "learning"]%>
      <%= form_tag(:action => :index) do %>
      <%= select_tag "category", options_for_select(@category) %>
      <%= submit_tag "Filter by Category" %>
    <% end %> </p>


<div>

  <% @activities.each do |activity| %>
      <br>
      <h1><strong><%= link_to activity.name, activity_path(activity) %></strong></h1>

      <br>
      <% activity.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fit %>
      <% end %>
      <br>

      When: <%= activity.datetime.strftime("%b %eth %Y, %k:%M") %>
      <br>
      <%= activity.address %>
      <br>
      Capacity: <%= activity.capacity %>
      <br>
      <%= activity.bookings.count %> are going
      <br>
  <% end %>
  <br>

</div>
<br>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>


