<% @activities.each do |activity| %>

    <h1><strong><%= link_to activity.name, activity_path(activity) %></strong></h1>

    <br>
    <% activity.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fit %>
    <% end %>
    <br>

    Starting at: <%= activity.datetime.strftime("%b %eth %Y, %k:%M") %>
    <br>
    <%= activity.address %>
    <br>
    Starting at: <%= activity.datetime %>
    <br>
    Capacity: <%= activity.capacity %>
    <br>
    <%= activity.bookings.count %> are going

<% end %>



