<div class="container">
<%= simple_form_for :search, url: activities_path, method: "get" do |f| %>
  <input class="address form-control" type="text" name="address" id="friend_places" placeholder="Please type in your Address" />
  <p>  <%= f.submit "Search in a different Location", class: "btn btn-primary" %> within 5 kms </p>
<% end %>

  <p> <%= form_tag activities_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
      placeholder: "Search for a specific activity"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <%end%>

      <% @categories = ["sports", "food", "nightlife", "helath"]%>
      <%= form_tag(:action => :index) do %>
      <%= select_tag "category", options_for_select(@categories) %>
      <%= submit_tag "Filter by Category" %>
    <% end %> </p>

      <% @activities.each do |activity| %>
        <div>
          <strong><%= link_to activity.name, activity_path(activity) %></strong>
          <br>
          <%= activity.address %>
          <br>
          <%= activity.description %>
          <br>
          <%= activity.category %>
          <br>
          Starting at: <%= activity.datetime %>
          <br>
      People are already going
      </div>
    <% end %>
</div>
