<h1><strong> <%= @activity.name %> </strong></h1>
<br>
<% @activity.photos.each do |photo| %>
<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fit %>
<% end %>
<br>
<p><%= @activity.address %></p>
 <!-- ? miles away -->

Starting at: <%= @activity.datetime.strftime("%b %eth %Y, %k:%M") %>
<br>
Category: <%= @activity.category %>
<br>
Hosted by: <strong><%= link_to @activity.user.username, user_path(@activity.user) %></strong>
<br>
Participants:
<%#= link_to "users", chatroom_path %>
<!-- update the link of the chatroom -->
<br>
Capacity: <%= @activity.capacity %>

Spaces left: <%= @activity.capacity - @activity.bookings.count %>

<p>About:  <%= @activity.description %></p>
<%= link_to "edit this event", edit_activity_path %>
<%= link_to "delete this event", activity_path, method: :delete, data: { confirm: "You sure?" } %>


<h1>Confirm Attendance to <%= @activity.name %> </h1>
<%= link_to new_activity_booking_path(@activity), class: "btn btn-primary" do %>Confirm<% end %>

<%#= link_to "join now!",  %>
