
<h1><strong> <%= @activity.name %> </strong></h1>
<br>
<% @activity.photos.each do |photo| %>
<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fit %>
<% end %>
<br>
<div class="map"
    id="map"
    style="width: 100%;
    height: 600px;"
    data-marker="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<br>
<p><%= @activity.address %></p>

<!-- ? miles away -->


Starting at: <%= @activity.datetime.strftime("%b %eth %Y, %k:%M") %>
<br>
Category: <%= @activity.category %>
<br>
Hosted by: <strong><%= link_to @activity.user.username, user_path(@activity.user) %></strong>
<%#= link_to "users", chatroom_path %>
<!-- update the link of the chatroom -->
<br>
Capacity: <%= @activity.capacity %>
<br>
Spaces left: <%= @activity.capacity - @activity.bookings.count %>
<p>About:  <%= @activity.description %></p>
<ul>
  <% @activity.bookings.each do |booking| %>
  <li>
    <% user = User.find(booking.user_id) %>
    <%= link_to user.username, user_path(user.id) %>
  </li>
  <% end %>

</ul>

<% if policy(@activity).destroy? %>
<%= link_to "edit this event", edit_activity_path %> |
<%= link_to "delete this event", activity_path, method: :delete, data: { confirm: "You sure?" } %>
<% end %>

<!-- <%# if @booking.errors.any? %>
  <ul>
  <%# @booking.errors.full_messages.each do |message| %>
    <li><%#= message %></li>
  <%# end %>
  </ul>
<%# end %> -->

<% if @booking.errors.any? %>
<div class="alert">
<% @booking.errors.full_messages.each do |message| %>
  <span>😱 <%= message %>
  <a data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i> </span>
<% end %>
</div>
<% end %>

<% if !policy(@activity).update? %>
<h1>Want to join <%= @activity.name %>? Confirm now! </h1>
<%= link_to new_activity_booking_path(@activity), class: "btn btn-primary" do %>Join<% end %>
<% end %>

<br>
<br>
<%= link_to "Back", :back %>

