<div class="main-container">
  <div class="show-image">
    <% @activity.photos.each do |photo| %>
    <%= cl_image_tag photo.key, crop: :fit %>
    <% end %>
  </div>

    <div class="show-container">
      <div class="title-btn">
        <h1><%= @activity.name %> </h1>
        <!-- booking tn -->
        <% if @booking.errors.any? %>
        <div class="alert">
          <% @booking.errors.full_messages.each do |message| %>
          <span>  😱 <%= message %></span>
          <a data-dismiss="alert" aria-label="Close"></a>
          <i class="fas fa-times"></i>
          <% end %>
        </div>
        <% end %>
        <% if @booking.user != @activity.user && @booking.user != current_user %>
        <% if !policy(@activity).update? && !current_user.attending_activity?(@activity) %>
        <div>
          <%= link_to 'Join',new_activity_booking_path(@activity), class: "btn btn-primary" %>
        </div>
        <% end %>
        <% end %>
      </div>

      <p>
      <i class="fas fa-sort-amount-down-alt"></i>  <%= @activity.category.capitalize %>
      </p>
      <br>
      <p><i class="fas fa-map-marker-alt"></i> <%=  @activity.address %></p>
      <p>
      <i class="far fa-clock"></i> <%= @activity.datetime.strftime("%b %eth %Y, %k:%M") %>
      </p>
          <%= link_to "Contact host", activity_conversations_path(@activity), method: "Post", class: "title"  %>
          <% if current_user && @activity.user_id != current_user.id %>
          <% elsif current_user == nil %>
           <%= link_to "Contact host", activity_conversations_path(@activity), method: "Post" %>
          <% end %>
        <div class="host-info">
          <% if @activity.user.photo.attached? %>
          <div class="avartar-set">
            <div class="avartar-name">
              <p><%= link_to cl_image_tag(@activity.user.photo.key, class: "avatar"), user_path(@activity.user) %>
          <%= @activity.user.username %>
            </div>
          </div>
          <% else %>
          <div class="avartar-set">
            <%= link_to @activity.user.username, user_path(@activity.user) %></p>
            <%= link_to cl_image_tag("img_264570_wuw5yx", class: "avatar"), user_path(@activity.user) %>
          </div>
          <% end %>
        </div>

        <p class="title">Available for:</p><%= @activity.capacity %> persons , <%= @activity.capacity - @activity.bookings.count %> spot(s) left
        <p class="title">About:</p>
        <%= @activity.description %>
        <p class="title">Who is joining:</p>
        <div class="participants">
         <% @activity.bookings.each do |booking| %>
          <% user = User.find(booking.user_id) %>
            <% if user.photo.attached? %>
            <div class="avartar-set">
              <div class="avartar-name">
              <%= link_to cl_image_tag(user.photo.key, class: "avatar"), user_path %>
                <%= user.username %>
              </div>
            </div>
            <% else %>
            <div class="avartar-set">
              <%= user.username %>
              <%= link_to cl_image_tag("img_264570_wuw5yx", class: "avatar"), user_path(user.id) %>
            </div>
          <% end %>
        <% end %>
        </div>

      <div class="map"
          id="map"
          style="width: 100%;
          height: 300px;"
          data-marker="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>

      <div class="bottom-container">
        <div>
          <%= link_to :back do %>
          <i class="fas fa-chevron-left"></i>
        <% end %>
        </div>
        <div>
          <% if policy(@activity).destroy? %>
            <%= link_to "Edit", edit_activity_path, class: "btn btn-green" %>
          <% end %>

          <% @activity.bookings.each do |booking| %>
          <% if booking.user == current_user %>
            <%= link_to "Cancel booking", activity_path, class: "btn btn-orange", method: :delete, data: { confirm: "You sure?" } %>
          <% end %>
          <% end %>
        </div>
      </div>
        <br>
        <br>

    </div>
</div>

