<h1><strong> <%= @activity.name %> </strong></h1>
<br>
<p><%= @activity.address %></p>
 <!-- ? miles away -->
<p>About:  <%= @activity.description %></p>
# Make code more beautyful please. No one knows what UTC is
Starting at: <%= @activity.datetime %>
<%= @activity.category %>
<br>
Hosted by: <strong><%#= @activity.username %></strong>
<br>
Participants:
<%#= link_to "contact Organizer", chatroom_path %>
<!-- update the link of the chatroom -->
activity


<%#= link_to "join now!",  %>
