<div class="main-container">
  <div class="show-image">
    <% @activity.photos.each do |photo| %>
    <%= cl_image_tag photo.key, crop: :fit %>
    <% end %>
  </div>

    <div class="show-container">

      <h1><%= @activity.name %> </h1>
      <h6><%= @activity.description %></h6>
      <br>
       <p>
      <i class="fas fa-sort-amount-down-alt"></i>  <%= @activity.category.capitalize %>
      </p>

      <p><i class="fas fa-map-marker-alt"></i> <%=  @activity.address %></p>
      <p>
      <i class="far fa-clock"></i> <%= @activity.datetime.strftime("%b %eth %Y, %k:%M") %>
      </p>

      <p><i class="fas fa-users"></i> Maximum <%= @activity.capacity %></p>
      <p><i class="fas fa-chair"></i> <%= pluralize (@activity.capacity - @activity.bookings.count), "space" %> left</p>
      <p><i class="fas fa-user"></i>
          <%#= link_to "Contact host", activity_conversations_path(@activity), method: "Post" %>
          <% if current_user && @activity.user_id != current_user.id %>
           <%= link_to "Contact host", activity_conversations_path(@activity), method: "Post" %>
            <%= link_to activity_conversations_path(@activity), method: "Post" do %>
              <i class="far fa-comment"></i>
            <% end %>
             <% else %>
              Your event
          <% end %> </p>

      <div class="avatars-show">
          <div class="host-info">
            <% if @activity.user.photo.attached? %>
            <%= link_to cl_image_tag(@activity.user.photo.key, class: "avatar"), user_path(@activity.user) %>
            <p><%= @activity.user.username %></p>
            <% else %>
            <%= link_to @activity.user.username, user_path(@activity.user) %>
            <%= link_to cl_image_tag("img_264570_wuw5yx", class: "avatar"), user_path(@activity.user) %>
            <% end %>
          </div>

        <div class="participants">
         <% @activity.bookings.each do |booking| %>
          <% user = User.find(booking.user_id) %>
            <% if user.photo.attached? %>
            <div class="avartar-set">
              <div class="avartar-name">
              <%= link_to cl_image_tag(user.photo.key, class: "avatar"), user_path(user.id) %>
              <p> <%= user.username %> </p>
              </div>
            </div>
            <% else %>
            <div class="avartar-set">
              <%= user.username %>
              <%= link_to cl_image_tag("img_264570_wuw5yx", class: "avatar"), user_path(user.id) %>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
        <!-- reviews -->
        <p class="title">Reviews:</p>
          <% if @activity.reviews.empty?  %>
            <p> This activity has not been reviewed yet </p>
          <% else %>
            <%= '⭐️' * (@activity.reviews.sum(:activity_rating) / @activity.reviews.count) %>
          <% end %>

      <div class="map-container">
        <div class="map"
            id="map"
            style="width: 100%;
            height: 300px;"
            data-marker="<%= @marker.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>
<br>
      <div class="bottom-container">

        <% if policy(@activity).destroy? %>
          <%= link_to "Edit", edit_activity_path, class: "btn btn-outline" %>

          <button id="sweet-alert-cancel" class="delete-link">Delete Activity?</button>
          <%= link_to '', activity_path(@activity), method: :delete, id: "delete", class: "hidden" %>
          <% end %>

        <% if @booking.user != @activity.user && @booking.user != current_user %>
          <% if !policy(@activity).update? && !current_user.attending_activity?(@activity) %>

          <div class="button-fixed fixed-bottom text-center">
            <button id="sweet-alert-demo" class="btn btn-green">Join!</button>
            <%= link_to '', new_activity_booking_path(@activity), id: "confirm", class: "hidden"%>

          </div>
            <% end %>

          <%elsif current_user.nil? == true %>
              <%= link_to new_activity_booking_path(@activity), id: "confirm", class: "hidden" do %>
                <button class="btn btn-green">Join!</button>
              <% end %>

          <% end %>

        <br>
        <div class="back-button">
          <%= link_to :back do %>
          <i class="fas fa-chevron-left"></i>
          <% end %>
        </div>
      </div>
      <br>
    </div>
</div>
